th, td {
    text-align: left;

    padding: 2px 10px;

    border: 1px solid #ddd;
}

.student-table {
    border-collapse: collapse;

    width: 100%;
}

.student-table-header {
    background-color: #eaeaea;
}

.student-table-gray .student-table-footer td {
    background-color: #ddd;
}

.student-table-red .student-table-footer td {
    background-color: #ff0000;
}
